/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

@font-face {
  font-family: "TravelingTypewriter";
  src: url("font/TravelingTypewriter.otf");
}
html {}
body {
  font-size: 1.3vw;
  line-height: 1.5em;
  background: white;
  background-repeat: no-repeat;
  color: #3a3535;
  background-position: center;
  font-family: 'TravelingTypewriter';
  background-image: url("img/scarabs_03.jpg");
  background-size: 105%;
}
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 2vh;
}
p {
  margin-bottom: 1vh;
  letter-spacing: normal;
  
}
  h6 {
    /* transition: background 1s, transform 1s 1s linear, visibility 0.3s, position 0.3s ease-in-out; */
    /* transition: all 1s ease, opacity 0s; */
  }
  .container {
    display: grid;  
    grid-template-columns: 2fr 1fr;
  }
  
  #navBar {
    height: 10vh;
    margin: 1vw 2vw 0 2vw;
    background: #000;
  }
  #content {
    /* padding-left: 5%;
    padding-top: 5%; */
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 1vw;
    height: 84vh;
    width: 68vw;
  }
  #menu {
    margin-left: 1vw;
    margin-right: 2vw;
    margin-top: 1vw;
    background: #000;
    height: 84vh;
    /* width: 28; */
    background-color: #f4f4f4;
  }
  .rect-border {
    border: 0.3vh #232020 solid;
    border-radius: 4px;
    opacity: 0.9;
  }
  #menu li {
    font-size: 1.5vw;
    padding-bottom: 2vh;
  }
  #menu h1 {
    font-size: 3vw;
    padding: 2vw 0;
    text-decoration: underline;
  }
  .menu-list-child:hover {
    color: #ff7315;
    cursor: pointer;
  }
  #menu a {
    color: #232020;
    font-size: 1.6vw;
    border-width: 5px;
    outline-offset: 10px; 
    padding: 2vh 8vw;
  }
  #menu a:hover {
    color: #f4f4f4;
    background-color: #232020;
  }

  $fireColor: rgb(255,80,0);
  $fireColorT: rgba(255,80,0,0);
  $dur: 1s;
  $blur: 0.02em;
  $fireRad: 3em;
  $parts: 50;
  $partSize: 5em;
  
  .fire {
    font-size: 24px;
    filter: blur($blur);
    -webkit-filter: blur($blur);
    margin: 3em auto 0 auto;
    position: relative;
    width: 10em;
    height: 12em;
  }
  .particle {
    animation: rise $dur ease-in infinite;
    background-image: radial-gradient($fireColor 20%,$fireColorT 70%);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: $partSize;
    height: $partSize;
    // spread particles out in time and x-position to get desired effect
    @for $p from 1 through $parts {
      &:nth-of-type(#{$p}) {
        animation-delay: $dur * random();
        left: calc((100% - #{$partSize}) * #{($p - 1)/$parts});
      }
    }
  }
  @keyframes rise {
    from {
      opacity: 0;
      transform: translateY(0) scale(1);
    }
    25% {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-10em) scale(0);
    }
  }

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
